<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ExtendedFieldMapper">
    <select id="findAll" parameterType="org.springframework.data.domain.Pageable" resultType="ExtendedField">
        select * from extended_field
        <if test="pageable != null">

            <bind name="size" value="pageable.getPageSize()"/>
            <if test="pageable.sort != null">
                <foreach collection="pageable.sort" item="sort" index="index">
                    <if test="index == 0">
                        order by
                    </if>
                    <if test="index > 0">
                        ,
                    </if>
                    ${sort.property} ${sort.direction.name}
                </foreach>
            </if>
            limit #{pageable.offset} , ${size}
        </if>
    </select>

    <select id="findById" resultType="com.example.demo.entity.ExtendedField">
        select * from extended_field where id= #{id,jdbcType=INTEGER};
    </select>
</mapper>