<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ExtendedFieldMapper">

    <resultMap id="resultMap" type="com.example.demo.entity.ExtendedField">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <sql id="columns">
        extended_field.id, extended_field.`name`
    </sql>
    <sql id="joinTable">
        extended_field
    </sql>

    <sql id="where">
        <if test="queryParams != null">
            <where>
                <foreach collection="queryParams" item="queryParam" index="index">
                    <if test="queryParam != null">
                        <choose>
                            <when test="queryParam.queryType == 'eq'">
                                AND ${queryParam.key} = ${queryParam.value}
                            </when>
                            <when test="queryParam.queryType == 'true'">
                                AND ${queryParam.key} = true
                            </when>
                            <when test="queryParam.queryType == 'false'">
                                AND ${queryParam.key} = false
                            </when>
                            <when test="queryParam.queryType == 'before'">
                                AND ${queryParam.key} &lt; ${queryParam.value}
                            </when>
                            <when test="queryParam.queryType == 'after'">
                                AND ${queryParam.key} &gt; ${queryParam.value}
                            </when>
                            <when test="queryParam.queryType == 'trueOrFalse'">
                                AND ${queryParam.key}  =  ${queryParam.value}
                            </when>
                            <when test="queryParam.queryType == 'containing'">
                                AND ${queryParam.key} like '%${queryParam.value}%'
                            </when>
                        </choose>
                    </if>
                </foreach>
            </where>
        </if>
    </sql>

    <sql id="page">
        <if test="pageable != null">
            <bind name="size" value="pageable.getPageSize()"/>
            <if test="pageable.sort != null">
                <foreach collection="pageable.sort" item="sort" index="index">
                    <if test="index == 0">
                        order by
                    </if>
                    <if test="index > 0">
                        ,
                    </if>
                    ${sort.property} ${sort.direction.name}
                </foreach>
            </if>
            limit ${pageable.offset} , ${size}
        </if>
    </sql>

    <select id="count"  parameterType="org.springframework.data.domain.Pageable" resultType="long">
        select count(*) from
        <include refid="joinTable"></include>
        <include refid="where"></include>
    </select>

    <select id="findAll" parameterType="org.springframework.data.domain.Pageable" resultMap="resultMap">
        select
        <include refid="columns"></include>
        from
        <include refid="joinTable"></include>
        <include refid="where"></include>
        <include refid="page"></include>
    </select>

</mapper>