<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.InOutMapper">

    <resultMap id="inOutResultMap" type="com.example.demo.entity.InOut">
        <id property="id" column="id"/>
        <result property="amount" column="amount"/>
        <result property="inputOrOutput" column="inputOrOutput"/>
        <result property="createTime" column="create_time"/>
        <association property="good" javaType="Good">
            <id property="id" column="good_id"/>
            <result property="name" column="p_name"/>
        </association>
        <association property="user" javaType="User">
            <id property="id" column="user_id"/>
            <result property="name" column="u_name"/>
        </association>
    </resultMap>
    <select id="findAllByGoodId" resultMap="inOutResultMap">
    SELECT in_out.amount,
        in_out.create_time,
        in_out.id,
        in_out.good_id,
        in_out.user_id
    FROM in_out LEFT OUTER JOIN good ON in_out.good_id = good.id
    WHERE in_out.input_or_output = 1 and in_out.good_id = #{id,jdbcType=INTEGER};

    </select>

    <select id="findAllByIn" resultMap="inOutResultMap">
    SELECT in_out.id,
        in_out.amount,
        in_out.create_time,
        in_out.good_id,
        in_out.user_id
    FROM in_out  WHERE in_out.input_or_output = 1;

    </select>

    <insert id="inGoodSave" parameterType="com.example.demo.entity.InOut">
        insert into in_out (amount, input_or_output, create_time, good_id, user_id)
        values (#{amount,jdbcType=INTEGER},#{inputOrOutput,jdbcType=INTEGER},#{createTime,jdbcType=INTEGER},#{goodId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER})
    </insert>
</mapper>