<div style="margin-top: 60px" class="row">
  <div class="col-md-2 offset-md-10">
    <button class="btn btn-primary btn-sm" routerLink="add">
      <i class="fas fa-plus"></i>
      新增
    </button>
  </div>
</div>
<app-size [size]="size" (changeSize)="reloadBySize($event)"></app-size>

<table class="table table-striped table-bordered mt-3">
  <thead class="thead-light">
  <tr>
    <th scope="col">序号</th>
    <th scope="col">名称</th>
    <th scope="col">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let unit of units?.content, index as i">
    <td>{{i + 1}}</td>
    <td>{{unit.name}}</td>
    <td>
      <button class="btn btn-primary btn-sm mr-2" routerLink="edit/{{unit.id}}">
        <i class="fas fa-edit"></i>
        编辑
      </button>
      <button (click)="delete(unit)"  class="btn btn-danger btn-sm mr-2">
        <i class="fas fa-trash-alt"></i>
        删除
      </button>
    </td>
  </tr>
  </tbody>
</table>
<app-page [page]="units?.number" [size]="units?.size" [totalElements]="units?.totalElements"
          (changePage)="reloadByPage($event)"></app-page>
