<form [formGroup]="inOutForm" (ngSubmit)="submit()" style="margin-top: 60px">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <div class="row">
        <div class="col-md-4 text-right">
          <label class="form-text">货物<code>*</code></label>
        </div>
        <div class="col-md-8">
          <app-good-select (goodSelect)="bindGood($event)"></app-good-select>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4 text-right">
          <label for="amount" class="form-text">进货数量<code>*</code></label>
        </div>
        <div class="col-md-8">
          <input type="number" class="form-control" id="amount" placeholder="请输入进货数量" formControlName="amount"/>
        </div>
      </div>
      <div class="row mt-2" *ngIf="amount.invalid && (amount.dirty || amount.touched)">
        <div class="col-md-8 offset-md-4">
          <small class="text-danger" *ngIf="amount.errors.required">
            <i class="fa fa-exclamation-triangle"></i>
            进货数量必须
          </small>
        </div>
      </div>
      <br/>
      <div class="row mt-5">
        <div class="col-md-8 offset-md-4">
          <button class="btn btn-dark btn-sm" [disabled]="inOutForm.invalid" type="submit">
            <i class="far fa-save"></i>
            &nbsp;保存
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
