<form [formGroup]="goodExtendedFieldForm" (ngSubmit)="submit()" style="margin-top: 60px">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <div class="row">
        <div class="col-md-4 text-right">
          <label class="form-text">货物<code>*</code></label>
        </div>
        <div class="col-md-8">
          <app-good-select [good]="goodExtendedFieldForm.getRawValue()?.good"
                           (goodSelect)="bindGood($event)"></app-good-select>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4 text-right">
          <label class="form-text">扩展字段<code>*</code></label>
        </div>
        <div class="col-md-8">
          <app-extended-field-select [extendedField]="goodExtendedFieldForm.getRawValue()?.extendedField"
                                     (extendedFieldSelect)="bindExtendedField($event)"></app-extended-field-select>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4 text-right">
          <label for="tag" class="form-text">扩展字段值<code>*</code></label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" id="tag" placeholder="请输入扩展字段值" formControlName="value"/>
        </div>
      </div>
      <div class="row mt-2" *ngIf="value.invalid && (value.dirty || value.touched)">
        <div class="col-md-8 offset-md-4">
          <small class="text-danger" *ngIf="value.errors.required">
            <i class="fa fa-exclamation-triangle"></i>
            扩展字段名对应值必须
          </small>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-8 offset-md-4">
          <button class="btn btn-dark btn-sm" [disabled]="goodExtendedFieldForm.invalid" type="submit">
            <i class="far fa-save"></i>
            &nbsp;保存
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
